$bg-color: #E6F4F1;
$pry-color: #45C1D2;
$button-colour: #003746;
$contact-colour: #AEE9F1;

@mixin nav_font{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
@mixin hero_text {
    font-family: Ruluko;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 64px;
}
@mixin sub_hero_text {
    font-family: Ruluko;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;    
    line-height: 64px;
}
@mixin about_me {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}